{
    "presets": [  
      "es2015",
      "stage-0",
      "react"   
    ],    
    "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        [
          "import",    
            {    
              "libraryName": "antd-mobile",    
              "style": "css"    
            } 
        ]
    ],
    "env": {
      "development": {
        "presets": ["react-hmre"]
      }
    }
  }