#postdetail .am-list-item .am-list-line .am-list-extra .am-button{
    width: 70px;
    height: 35px;
    font-size: 15px;
    margin-left: auto;
    margin-top: 10px;
    line-height: 36px;
}
.icon-footer{
    width: 1.6rem;
}
#postdetail .am-wingblank.am-wingblank-lg{
    margin-top: 2.5rem;
}
#postdetail .fixd-header.am-navbar{
    z-index: 999;
}
#postdetail #comment{
    margin-bottom: 45px;
}
#postcard .am-button{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    width: 53px;
    float: right;
    margin-left: 5px;
}
#postcard .am-list-item .am-list-line .am-list-brief .icon-footer{
    vertical-align: middle;
    color: black;
    margin-right: 4px;
}
#postdetail .stick-footer{
    position: fixed;
}
#comment .am-list-item .am-list-thumb:first-child .icon-footer{
    vertical-align: 1.8em;
}
#comment .am-list-item .am-list-line .am-list-content span{
    font-size: 16px;
    margin-right: 10px;
}
#comment .am-list-item .am-list-line .am-list-content .time{
    color: #888;
    font-size: 15px;
}
#comment .am-list-item .am-list-line .am-list-content .empty{
    font-size: 15px;
}
#home #postcard{
    height: 590px;
}
#home #postcard .am-list{
    position: relative;
}
#home .empty{
    font-size: 15px;
    color: #888;
    text-align: center;
}
#postdetail .content .img {
    text-align: center;
    width: 100%;
}
#postdetail .am-list-item img{
    height: auto;
    width: 100%;
}
#home .am-list-item img{
    height: auto;
    width: 70%;
}
#sousuo .am-search{
    margin-top: 3rem;
}