.error-msg{
    color: brown;
	padding-left: 1rem;
	padding-top: 1rem;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
}
.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:4.5rem 0.5rem;
}
html:not([data-scale]) .am-card-body::before{
	z-index: 0;
}

#chat-page .chat-me .am-list-extra{
	
	color: black;
	flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
	padding-right: 15px;
	text-align: right;
}
#chat-page .am-grid-icon{
	display: none;
}
#chat-page .am-grid-text{
	margin-top: 0;
	font-size: 18px;
}
#chat-page .am-list{
	font-size: 16px;
}

#msgList .am-list-item .am-list-line .am-list-arrow-horizontal{
	display: none;
}
.stick-footer{
	z-index:10;
	position: absolute;
	bottom: 0;
	width:100%;
}

#postcard .am-list-item .am-list-line .am-list-brief span{
	display: inline-block;
	margin-right: 10px;
}