.error-msg{
    color: brown;
	padding-left: 1rem;
	padding-top: 1rem;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
}
.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:4.5rem 0.5rem;
}
html:not([data-scale]) .am-card-body::before{
	z-index: 0;
}

#postcard .am-list-item .am-list-line .am-list-brief span{
	display: inline-block;
	margin-right: 10px;
}