
 #me-icon .am-result .am-result-pic .icon-footer{
    width: 6em; 
    height: 6em;
 }
 #me-icon .am-result .am-result-pic{
    width: 90px;
    height: 78px;
 }
 #myfavor #postcard{
     margin-top: 3rem;
 }
.am-list-item .am-list-line .am-list-content .empty{
    font-size: 15px;
    color: #888;
    text-align: center;
 }
#myfavor #favorlist{
    margin-top: 3rem;
}
#myfavor .header{
    position: fixed;
    top: 0;
    width: 100%;
}
#myfavor .favor-empty{
    margin-top: 3rem;
}